<div class="message">
  <div class="message-datetime">
    <%= message.created_at.strftime("%e %b %Y %H:%m") %>
  </div>
  <div class="message-author <%= belongs_to %>">
    <%= cl_image_tag message.user.avatar, class: "avatar", height: 100, width: 100, crop: :fill%>
    <p class="message-author-name">
      <% if belongs_to == 'ours' %>
        You
      <% else %>
        <%= "#{message.user.first_name} #{message.user.last_name}" %>
      <% end %>
    </p>
    <p class="message-author-separator">•</p>
    <p class="message-author-role"><%= message.user.user_type.capitalize %></p>
  </div>
  <div class="message-content-wrapper <%= belongs_to %>">
    <div class="message-content <%= belongs_to %>">
      <%= message.content %>
    </div>
  </div>
</div>
