<div class="messages-container">
  <%= render('shared/wrapper', title: "Job messages", illustration_url:  cl_image_tag('report_problem_utwngt'))%>
  <div class="messages">
    <% @messages.each do |message| %>
      <%= render(partial: "messages/message", locals: { message: message, belongs_to: message.user == current_user ? 'ours' : 'theirs', message_owner_id: current_user.id}) %>
    <% end %>

  </div>
  <div class="message-input">
    <%= simple_form_for [@job, Message.new], remote: true do |f| %>
      <%= f.input :content, input_html: { placeholder: "Type a message...", autocomplete: 'off'}, as: "citext", label: false %>
    <% end %>
  </div>
</div>

<% content_for :after_js do %>
  <script>
    function scrollIntoView() {
      const messages = document.querySelectorAll(".message");
      const lastMessage = messages[messages.length - 1];
      lastMessage.scrollIntoView()
    };
    scrollIntoView();
    App['messages'] = App.cable.subscriptions.create(
      {
        channel: 'MessagesChannel'
      },
      {
        received: (data) => {
          if (data.message_owner_id !== <%= current_user.id %>) {
            const messages = document.querySelectorAll(".message");
            const lastMessage = messages[messages.length - 1];
            lastMessage.insertAdjacentHTML('afterend', data.message_partial)
            scrollIntoView()
          }
        }
      })
  </script>
<% end %>
