<%= render('shared/wrapper', title: "Job messages", illustration_url:  cl_image_tag('report_problem_utwngt'))%>
<div class="messages">
  <%= @messages.each do |message| %>
    <div class="message">
      <div class="message-datetime">
        <%= message.created_at.strftime("%e %b %Y %H:%m") %>
      </div>
      <% if message.user == current_user %>
        <% belongs_to = 'ours' %>
      <% else %>
         <% belongs_to = 'theirs' %>
      <% end %>
      <div class="message-author <%= belongs_to %>">
        <%= cl_image_tag message.user.avatar, class: "avatar", height: 100, width: 100, crop: :fill%>
        <p class="message-author-name">
          <% if message.user == current_user %>
            You
          <% else %>
            <%= "#{message.user.first_name} #{message.user.last_name}" %>
          <% end %>
        </p>
        <p class="message-author-separator">•</p>
        <p class="message-author-role"><%= message.user.user_type.capitalize %></p>
      </div>
      <div class="message-content <%= belongs_to %>">
        <%= message.content %>
      </div>
    </div>
  <% end %>

  <div class="message-input">
    <%= simple_form_for [@job, Message.new] do |f| %>
      <%= f.input :content, input_html: { placeholder: "Type a message...", autocomplete: 'off'}, as: "citext", label: false %>
    <% end %>
  </div>
</div>
