<div class="messages-fixed-wrapper">
  <%= render('shared/wrapper', title: "Job messages", illustration_url:  cl_image_tag('report_problem_utwngt'))%>
</div>
<div class="messages">
  <% @messages.each do |message| %>
    <%= render(partial: "messages/message", locals: { message: message, belongs_to: message.user == current_user ? 'ours' : 'theirs' }) %>
  <% end %>
</div>
<div class="message-input">
  <%= simple_form_for [@job, Message.new], remote: true do |f| %>
    <%= f.input :content, input_html: { placeholder: "Type a message...", autocomplete: 'off'}, as: "citext", label: false %>
  <% end %>
</div>


<% content_for :after_js do %>
  <script>
    function scrollIntoView() {
      const messages = document.querySelectorAll(".message");
      const lastMessage = messages[messages.length - 1];
      if (lastMessage) {
        lastMessage.scrollIntoView()
      }
    };
    scrollIntoView();
    App['messages_<%= @job.id %>'] = App.cable.subscriptions.create(
      {
        channel: 'MessagesChannel', job_id: <%= @job.id %>
      },
      {
        received: (data) => {
          if (data.message_owner_id !== <%= current_user.id %>) {
            const messagesWrapper = document.querySelector(".messages");
            messagesWrapper.insertAdjacentHTML('beforeend', data.message_partial)
            scrollIntoView()
          }
        }
      })
  </script>
<% end %>
