<%= render('shared/index_page_wrapper', title: 'Manage Tenancies', subtitle: "#{@property.address}") %>
<div class="container py-3">
  <% @tenancies.each do |tenancy| %>
  <div class="property-card">
  <% if tenancy.current %>
    <div class="top-right-badge">
      <p class="show-status-badge">Current</p>
    </div>
  <% end %>
  <p class="font-weight-bold">Start Date:</p>
    <p><%= tenancy.start_date.strftime("%e %b %Y") %></p>
  <p class="font-weight-bold">End Date:</p>
    <p><%= tenancy.end_date.strftime("%e %b %Y") %></p>
    <p class="font-weight-bold">Tenants: </p>
    <ul class="list-group"><%tenancy.tenants.each do |tenant| %>
      <li class="list-group-item"><%= tenant.full_name_with_email %></li>
      <% end %>
    </ul>    
  </div>
  
  <% end %>
</div>

<%= render 'shared/sticky_btn', title: "Create Tenancy", link: new_property_tenancy_path(@property) %>

