<%= render('shared/action_page_wrapper', title: "Create a new tenancy", illustration_url:  cl_image_tag('zfd3liaawmeqbhmevu7x'))%>

<div class="container py-3">
  <%= simple_form_for [@property, @tenancy] do |f| %>
    <%= f.input :start_date  %>
    <%= f.input :end_date  %>
    <%= f.association :tenants, collection: User.where(user_type: 'tenant'), label_method: :full_name_with_email, as: :check_boxes, label: 'Seect Tenants:' %>
    <%= f.button :submit, "Submit", class: 'btn btn-primary w-100' %>
  <% end %>
</div>