<% case current_user.user_type %>
<% when 'tenant' %>
  <% if current_user.current_tenancy %>
    <%# If the user has a current tenancy %>
    <% subtitle = "Jobs for #{current_user.current_tenancy.property.address}" %>
  <% else %>
    <% subtitle = 'You currently have no active tenancies' %>
  <% end %>
<% when 'landlord' %>
  <% subtitle = 'Jobs for all your properties' %>
<% when 'contractor' %>
  <% subtitle = "Jobs for all properties you've been involved in" %>
<% end %>
<%= render('shared/index_page_wrapper', title: "Hi, #{current_user.first_name}", subtitle: subtitle) %>

<div class="jobs-index-wrapper">
  <div class=" d-flex justify-content-around text-center pt-4">
    <div class="index-tab tab-selectors active-tab pb-2" data-id="1">
      <% action_required_jobs = @jobs.select { |job| job.action_required?(current_user) } %>
      <% if action_required_jobs.count > 0 %>
        <div class="jobs-action-required-badge">
          <p><%= action_required_jobs.count %></p>
        </div>
      <% end %>
      <p class="load-progress"><i class="far fa-clock px-2"></i> In Progress</p>
    </div>
    <div class="index-tab tab-selectors pb-2" data-id="2">
      <p class="load-completed"><i class="far fa-check-circle px-2"></i> Completed</p>
    </div>
  </div>
  <div class="container py-3">
    <div class="tab-info show-tab" data-tab-id="1">
      <% @jobs.reject(&:completed?).each do |job| %>
        <%= render('shared/job_index_card', job: job) %>
      <% end %>
    </div>

    <div class="tab-info" data-tab-id="2">
      <% @jobs.select(&:completed?).each do |job| %>
        <%= render('shared/job_index_card', job: job) %>
      <% end %>
    </div>
    <% if @jobs.empty? %>
      <div class="jobs-index-no-jobs">
        <%= image_tag 'job_index_no_jobs.png' %>
        <p>Looks like there are no jobs yet...</p>
      </div>
    <% end %>
  </div>
</div>
<% if current_user.user_type == 'tenant' %>
  <%= render 'shared/sticky_btn', title: "Submit new job", link: new_job_path %>
<% end %>


<%= javascript_pack_tag "tabs" %>
