<%= render('shared/navbar') %>

<div class="bg-primary text-white d-flex align-items-center justify-content-start">
  <div class="container pt-5 pb-5">
    <h2 class="pt-3">Hi <%= current_user.first_name %>.</h2>
    <% case current_user.user_type %>
    <% when 'tenant' %>
      <p><%= current_user.rented_properties.first.address %></p>
    <% when 'landlord' %>
      <p>Here are all jobs submitted at <%= current_user.owned_properties.first.address %>:</p>
    <% when 'contractor' %>
      <p>Here are the jobs you've been involved in:</p>
    <% end %>
  </div>
</div>

<div class="tenant-container">
  <div class="container pt-4 pb-5">
      <% if @jobs.empty? %>
        <h3>Looks like you haven't submitted any jobs yet!</h3>
        <p>Click below to add a new one...</p>
      <% else %>

      <div class="d-flex justify-content-around text-center border-bottom-3 mb-3">
        <div class="incomplete-tab tab-selectors active-tab pb-2" data-id="1">
          <i class="far fa-clock px-2"></i><h6 class="load-progress">In Progress</h6>
        </div>

        <div class="completed-tab tab-selectors active-tab pb-2" data-id="2">
          <i class="far fa-check-circle px-2"></i><h6 class="load-completed">Completed</h6>
        </div>

        <div class="line-tab"></div>
      </div>

        <div class="tab-info show-tab" data-tab-id="1">
          <% @incompleted_jobs.each do |job| %>
            <%= link_to job_path(job), class: 'text-dark text-decoration-none' do %>
              <div class="index-card">
                <h4 class="mb-4">Job #<%= job.id %></h4>
                <p class=""><%= job.description %></p>
                <p><i class="fas fa-tools text-danger mr-2"></i> <%= job.category.capitalize %></p>
                <span class="job-show-stage"><i class="fas fa-clock mr-2"></i><%= job.stage_attributes[:stage_name] %></span>
                <p class="text-right mt-4 mb-0 timestamp">Submitted on <%= job.submitted_at %></p>
              </div>
              <% end %>
              <% end %>
            <% end %>
        </div>

        <div class="tab-info" data-tab-id="2">
          <% @completed_jobs.each do |job| %>
            <%= link_to job_path(job), class: 'text-dark text-decoration-none' do %>
              <div class="index-card">
                <h4 class="mb-4">Job #<%= job.id %></h4>
                <p class=""><%= job.description %></p>
                <p><i class="fas fa-tools text-danger mr-2"></i> <%= job.category.capitalize %></p>
                <span class="job-show-stage"><i class="fas fa-clock mr-2"></i><%= job.stage_attributes[:stage_name] %></span>
                <p class="text-right mt-4 mb-0 timestamp">Submitted on <%= job.submitted_at %></p>
              <% end %>
          </div>
        <% end %>
</div>

          <% if current_user.user_type == 'tenant' %>
              <%= link_to "Submit new job", new_job_path, class: "btn btn-primary w-100" %>
            <% end %>
          </div>

        </div>


<%= javascript_pack_tag "tabs" %>
