<%= render('shared/navbar') %>

<div class="bg-primary text-white d-flex align-items-center justify-content-start">
  <div class="container pt-5 pb-5">
    <h2 class="pt-3">Hi, <%= current_user.first_name %></h2>
    <% case current_user.user_type %>
    <% when 'tenant' %>
      <p><%= current_user.rented_properties.first.address %></p>
    <% when 'landlord' %>
      <p>Here are all jobs submitted at <%= current_user.owned_properties.first.address %>:</p>
    <% when 'contractor' %>
      <p>Here are the jobs you've been involved in:</p>
    <% end %>
  </div>
</div>

<div class="tenant-wrapper">
  <div class="container pt-4 pb-5">
    <% if @jobs.empty? %>
      <h3>Looks like you haven't submitted any jobs yet!</h3>
      <p>Click below to add a new one...</p>
    <% else %>
      <div class="mb-3">
        <div class=" d-flex justify-content-around text-center tabs-wrapper mb-4">


          <div class="index-tab tab-selectors active-tab pb-2" data-id="1">
            <% if @jobs_in_progress.select do |job| job.stage_attributes[:waiting_for] == current_user.user_type
                end.count > 0 %>

                <div class="updates">
                  <p><%= @jobs_in_progress.select do |job| job.stage_attributes[:waiting_for] == current_user.user_type
                    end.count %>
                  </p>
                </div>
              <% end %>

            <p class="load-progress"><i class="far fa-clock px-2"></i> In Progress</p>
          </div>

          <div class="index-tab tab-selectors pb-2" data-id="2">
            <p class="load-completed"><i class="far fa-check-circle px-2"></i> Completed</p>
          </div>

        </div>
      </div>

      <div class="tab-info show-tab" data-tab-id="1">
        <% @user_jobs.each do |job| %>
          <%= link_to job_path(job), class: 'text-dark text-decoration-none' do %>
            <div class="index-card">
              <div class="index-card-image" style="background-image: url('<%= cl_image_path job.photo_videos.first.photo_video %>'">
                <% if job.stage_attributes[:waiting_for] == current_user.user_type %>
                  <div class="action-required-alert text-center">
                    <p class="text-white">Action Required</p>
                  </div>
                <% end %>
              </div>

              <%= render('shared/progress_bar', job:job) %>
              <div class="index-card-text">
                <h6 class="mb-2"><%= job.description %></h6>
                <p class="job-description mb-0"><%= job.stage_attributes[:stage_name_present] %></p>
                <p class="text-right mt-0 mb-0 timestamp">
                  Submitted <%= time_ago_in_words(job.submitted_at) %> ago</p>
              </div>
            </div>
           <% end %>
         <% end %>
      </div>

      <div class="tab-info" data-tab-id="2">
        <% @completed_jobs.each do |job| %>
          <%= link_to job_path(job), class: 'text-dark text-decoration-none' do %>
            <div class="index-card">
              <div class="index-card-image" style="background-image: url('<%= cl_image_path job.photo_videos.first.photo_video %>'">
              </div>
              <%= render('shared/progress_bar', job:job) %>
              <div class="index-card-text">
                <h6 class="mb-2"><%= job.description %></h6>
                <p class="job-description mb-0"><%= job.stage_attributes[:stage_name_present] %></p>
                <p class="text-right mt-0 mb-0 timestamp">
                  Submitted <%= time_ago_in_words(job.submitted_at) %> ago</p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

    <% if current_user.user_type == 'tenant' %>
      <div class="sticky-btn">
        <%= link_to "Submit new job", new_job_path, class: "btn btn-primary w-100" %>
      </div>
    <% end %>
</div>


<%= javascript_pack_tag "tabs" %>
