<div class="header-job-index">
  <% if user_signed_in? %>
    <%= cl_image_tag current_user.avatar, class: "avatar", id: "navbarToggler"%>
  <% end %>
  <div id="navbarDropdown">Hello</div>
  <div class="container">
  <h2 class="mb-3 pt-3">Welcome back <%= current_user.first_name %></h2>

  </div>
</div>

<div class="container">
  <% @jobs.each do |job| %>
    <%= link_to job_path(job), class: "text-decoration-none" do %>
      <div class="card my-3 shadow-sm rounded">
        <div class="card-body">
          <h4 class="card-title"><strong>Category:</strong> <%= job.category %></h4>
          <p class="card-text"><strong>Description:</strong> <%= job.description %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="sticky-btn">
  <%= link_to "Submit new job", new_job_path, class: "btn btn-primary" %>
</div>
