<div class="container mt-3">
  <h3><%= @job.description %></h3>
  <p>Needs: <%= @job.category %></p>
  <p><%= @current_stage_attributes[:stage_name] %></p>
  <div class="cards mt-3">
    <% @job.current_stage.times do |index| %>
      <%= render("jobs/user_show_cards/#{current_user.user_type}_show_cards/#{current_user.user_type}_card_#{@job.current_stage - index}") %>
    <% end %>
  </div>
</div>

<% if @waiting_for_me %>
  <div class="sticky-btn">
    <%= link_to @current_stage_attributes[:call_to_action], edit_job_path(@job), class: "btn btn-primary" %>
  </div>
<% end %>
