<div class="container">
  <h1>Jobs Show</h1>
  <%= @job.description %>
  <p>I am a <%= current_user.user_type %></p>
  <p>This job is waiting for: <%= @current_stage_attributes[:waiting_for] %></p>
  <p><%= @current_stage_attributes[:stage_name] %></p>
  <% if @waiting_for_me %>
    <%= link_to @current_stage_attributes[:call_to_action], edit_job_path(@job), class: "btn btn-primary" %>
  <% end %>
  <%= link_to "Home", root_path, class: "btn btn-primary" %>
</div>
