<div class="show-background">
  <div class="show-hero-image" style="background-image: url('<%= cl_image_path @job.photo_videos.first.photo_video %>'">
    <div class="button-status-wrapper">
      <p class="show-back-button">
        <%= link_to jobs_path do %>
          <i class="fas fa-arrow-left"></i>
        <% end %>
      </p>
      <p class="show-status-badge">Waiting for <%= @job.stage_attributes[:waiting_for] %></p>
    </div>
  </div>
  <div class="show-content">
    <p class="show-content-title">
      <%= truncate @job.description, length: 25, separator: ' ' %>
    </p>
    <p class="show-content-meta">
      <i class="fas fa-tools mr-1"></i> <%= @job.category.capitalize %> <span class="mx-1">•</span>Submitted <%= time_ago_in_words(@job.created_at) %> ago.
    </p>
    <% 9.times do |index| %>
      <div class="show-stage-wrapper <%= index + 1 == @job.current_stage ? "font-weight-bold" : "show-grayed" %>">
        <div class="show-stage-top">
            <p class="show-stage-top-date">
          <% if index  < @job.current_stage %>
              <%= time_ago_in_words(@job.stage_changed_at(index + 1)) %> ago
            <% end %>
            </p>
          <p class="show-stage-top-check"><i class="far fa-check-circle"></i></p>
          <p class="show-stage-top-title"><%= Job.stage_attributes[index + 1][:stage_name] %><i class="fas fa-chevron-down ml-1"></i></p>
        </div>
        <div class="show-stage-content">
          <p>Content goes here</p>
        </div>
      </div>
    <% end %>
  </div>
</div>

