<%= render('shared/index_page_wrapper', title: 'Manage Properties', subtitle: 'Create and add tenancies here') %>
<div class="container">
  <% @properties.each do |property| %>
    <p><%= property.address %></p>
    <p class="mb-5"><%= link_to "View tenancies", property_tenancies_path(property), class: 'btn btn-primary' %>
    <%= link_to "Create tenancy", new_property_tenancy_path(property), class: 'btn btn-primary' %>
    </p>
  <% end %>
</div>
<% if current_user.user_type == 'landlord' %>
  <div class="sticky-btn">
  <%= link_to "Create property", new_property_path, class: 'btn btn-danger' %>
    
  </div>
<% end %>