<%= link_to job_path(job), class: 'text-dark text-decoration-none' do %>
  <div class="index-card">
    <div class="index-card-image" style="background-image: url('<%= cl_image_path job.photo_videos.first.photo_video %>'">
      <% if job.stage_attributes[:waiting_for] == current_user.user_type %>
        <div class="action-required-alert text-center">
          <p class="text-white">Action Required</p>
        </div>
      <% end %>
    </div>
    <div class="w-100 progress_bar">
      <% job.current_stage.times do %>
        <div class="progress-solid"></div>  
      <% end %>
      <% (9 - job.current_stage).times do %>
        <div class="progress-empty"></div>
      <% end %>
    </div>
    <div class="index-card-text">
      <h6 class="mb-2"><%= job.description %></h6>
      <p class="job-description mb-3">
        <%= job.stage_attributes[:stage_name_present] %></p>
      <p class="text-right mb-0 timestamp">
      <%= current_user.user_type != 'tenant' ? "#{job.address} •" : "" %>
      Submitted <%= time_ago_in_words(job.created_at, include_seconds: true) %> ago</p>
    </div>
  </div>
<% end %>
