<% if user_signed_in? %>
  <div id="navbarToggler">
    <% if current_user.avatar.filename %>
      <%= cl_image_tag current_user.avatar, height: 100, width: 100, crop: :fill%>
    <% else %>
      <p><%= current_user.initials %></p>
    <% end %>
  </div>
  <div id="navbarDropdown">
    <div class="container">
      <p id="closeButton">&times</p>
      <ul class="mt-5">
        <% if user_signed_in? %>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Jobs", jobs_path(@tenancy) %></li>
          <% if current_user.user_type == 'landlord' %>
            <li><%= link_to "Manage Properties", properties_path %></li>
          <% end %>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete%></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
