<div class="container my-3">
<h1 class="mx-2 my-3 pt-3">Select Contractors:</h1>

<form action="<%= job_quotes_path(@job) %>" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :contractor_selected, value="," %>
    <% @contractors.each do |contractor| %>
      <div class="card my-3 shadow-sm rounded contractor-card" data-id="<%=contractor.id%>">
        <div class="card-body">
          <h4 class="card-title"><strong>Category:</strong> <%= contractor.first_name %></h4>
          <p class="card-text"><strong>Specialism :</strong> <%= contractor.contractor_type %></p>
        </div>
      </div>
    <% end %>
</div>
<div class="sticky-btn">
  <input type="submit" value="Submit" class="btn btn-primary">
</div>
</form>

