<%= render('shared/wrapper', title: "#{@job.contractor.first_name} has picked some dates for you.", illustration_url:  cl_image_tag('select_dates_ywmjqo'))%>

<div class="container py-5">
  <h1 class="mb-4">Select Preferred Date:</h1>
  <form action="<%= job_path(@job) %>" method="post">
   <input type="hidden" name="_method" value="patch">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :time_selectors, value="" %>
      <% @job.contractor_availabilities.each do |date|  %>
        <div class="card my-3 shadow-sm rounded time-card" data-date="<%= date.date_available %>">
          <div class="card-body" >
            <p class='m-0'><%= date.date_available.strftime("%e %b %Y") %></p>
          </div>
        </div>
      <% end %>
     <input type="submit" value="Submit" class="btn btn-primary w-100">
  </form>
</div>

