<%= render('shared/wrapper', title: "Pick the best contractor for the job", illustration_url:  cl_image_tag('select_contractors_eihz0p'))%>

<div class="container pt-3 pb-5">
  <form action="<%= job_path(@job) %>" method="post">
   <input type="hidden" name="_method" value="patch">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :quote_selected, value="" %>
      <% @job.quotes.each_with_index do |quote, index|  %>
        <div class="quote-card" data-id="<%= quote.id %>">
          <div class="ml-3">
            <%= cl_image_tag(quote.contractor.avatar, crop: :thumb, radius: :max, gravity: :face) %>
          </div>
          <div class="card-product-infos flex-grow-1">
            <h4><%= quote.contractor.first_name %></h4>
            <p><i class="fas fa-tools"></i>  <%= quote.contractor.contractor_type.capitalize %></p>
            <p class="card-text-rating">
              <% [4,5].sample.times do %>
                <i class='fas fa-star'></i>
              <% end %>
            </p>
          </div>
          <div class="pr-5 pt-1">
            <p class="mb-1" id="quote-price">£<%= quote.price %></p>
            <a class="final-job-details btn btn-primary btn-sm mb-3" href="<%=cl_image_path(quote.quote)%>"><i class="fas fa-file-pdf mr-1"></i> Quote</a>
          </div>
        </div>
      <% end %>
    </div>
    <div class="sticky-btn">
     <input type="submit" value="Submit" class="btn btn-primary">
    </div>
</form>


